[Unit]
Description=Encryption
After=network-online.target

[Service]
Type=simple
ExecStart=/home/client/Documents/GSLW/TP3/src/encrypt.sh

[Install]
WantedBy=multi-user.target

